# Build outputs & Binaries
*.apk
*.aab
*.idsig
*.zip
*.dex
/android/classes/
/android/r_java/
/android/bundle_tmp/
/android/proto_extracted/
/android/assets/
/android/admob_extracted/
/android/admob_libs/
/android/base.apk
/android/base.zip
/android/compiled_res.zip
/android/compiled_admob_*.zip
/android/src/**/R.java
/dist/
/tools/

# OS & Editor files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
node_modules/
