# Bağımlılıklar
node_modules/
.DS_Store
Thumbs.db

# Loglar ve Geçici Dosyalar
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter / Dart Derleme Dosyaları
flutter_code/.dart_tool/
flutter_code/.flutter-plugins
flutter_code/.flutter-plugins-dependencies
flutter_code/.packages
flutter_code/build/
flutter_code/.pub-cache/
flutter_code/.pub/

# IDE Ayarları
.vscode/
.idea/
*.iml
